.container {
  .row {
    mat-card {
      cursor: pointer;
      height: 10rem;
      color: #ffffff;
    }

    .employee {
      background-color: #F69240;

      mat-icon {
        font-size: 4rem;
      }

      h4 {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    .subscription {
      background-color: #69C195;

      mat-icon {
        font-size: 4rem;
      }

      h4 {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
}
