<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <div class="header">Monthly Plan Details:</div>
                <div class="sub-header mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <div class="mt-5">
                    <button mat-raised-button color="primary">Get Plan</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
